<header class="navbar">
    <h1>BE APP</h1>

    <nav>
        <ul>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/notes" class="link">Notes</a></li>
            <li><a href="" class="link">Sign out</a></li>
        </ul>
        <ul>
            <li>Sign in</li>
            <li>Sign up</li>
        </ul>
    </nav>
</header>